$primary-color: #14633e;
$background-color: #60ec9f;

// Chrome applies an 8px margin by default (gross).
body {
  margin: 0px;
}

.Popup {
  padding: 10px;
  background-color: $background-color;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-size: 16px;
  width: 300px;
  .time-str {
    text-decoration: underline;
  }
}
